



* {
  margin: 0;

  padding: 0;
  font-family: "Open Sans", sans-serif;
}



@import url("./components/About/About.css") ;


/* body color */

  
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #f9f9f9;
}


/*............ prroduct .......*/


