.d-block {
    height: 400px;
    width: 100%;
    margin-left: 0px;
    
}
.font1{
    width: 327.98px;
    height: 183.52px;
    margin: 40px;
    margin-left: 400px;
}
.font2{
    width: 418.792px;
    height: 115px;
    margin-left: -400px;
    margin-top: -200px;
    
}
h3 {
    font-family: "Barlow Condensed", sans-serif;
    margin-left: 400px;
    margin-top: -20px;
}

.font3{
    margin-left: -800px;
}

.image{
    display: flex;
    cursor: pointer;
    
}
.image img {
    height: 46.5%;
    width: 46.5%;
    margin-top: 30px;
    
}
.btn {
    padding: 5px 15px;
   
    margin-left: 70px;
    margin-top: -10%;
}
.btn-dark {
    padding:7px 15px;
    margin-left: 720px;

    margin-top: -14.5%;
}
.arrivals{
    color: white;
    margin-top: -100px;
    
}

.arrivals h3 {
    margin-left: 70px;
    margin-bottom: 40px;
}

.bestsellers{
    margin-top: -100px;
    color: white;
    margin-left: -50px;
}

.bestsellers h3 {
    margin-bottom: 40px;
}

.bestsellers button {
    margin-top: -32px;
    margin-left: 400px;
}

.cont{
    display: flex;
}

.item img{
    height:300px;
  
   
    margin-top: 50px;    
}

.font4{
    margin-left: 0px;
    width: 4%;
    height: 4%;
}
h2{
    font-family: "Barlow Condensed", sans-serif;
  

}

.newar{
    text-align: center;
    margin-top: 100px;
  
}
.newarfont{
    color: #000;
    font-size: 40px;
    font-family: "Barlow Condensed", sans-serif;
}
.information1 img{
    height: 30%;
    width: 450px; 
    margin-left: -1px;
    margin-top: 70px;
    
}

.information1{
    display: flex;
}


.cmsmasters_heading {
    font-size: 36px;
    font-style: italic;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    
    
}
.cmsmasters_heading_wrap{
   margin-top: -200px; 
  
  margin-left: 50px;
}
.featured_block_inner{
    text-align: center;
    margin-top: -100px;
    

}
.featured_block_inner img{
   height: 10%;
   width: 10%;
   margin-bottom: -50px;
   cursor: pointer;
   
}
.featured_block_inner1{
    text-align: right;
    margin-top: -100px;
    margin-right: 100px;
}
.cmsmasters_heading1{
    font-size: 70px;
    color: white;
   
}
.cmsmasters_heading2{
    color: white;
    font-style: italic; 
    margin-right: 50px; 
}