.btn-Register{
    background-color: rgba(255, 81, 0, 0.966);
    color: white;
    border: none;
    margin-left: -20px;
    margin-top: 0px;
}

.register-container{
    margin-top: 30px;
}

.register-block{
    margin-left: -780px;
    padding-top: 50px;
}

